
body{
	background-image: url("../img/stars-bg.jpg");
	background-size: 200px 200px;
	background-repeat: repeat;
}

#container{
	height: 800px;
	width: 1000px;
	background-color: rgba(166,166,166,0.7);
	margin-left: auto;
	margin-right: auto;
	font-family: sans-serif;
	color: white;
	opacity: .9;

}


header{

	height: 200px;
	width: 1000px;
	background-image: url("../img/marie-header.png");
	background-size: cover;


}

#description{

	opacity: 1;

	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;

	padding: 20px;

	height:500px;
	width:500px;

	background-color: #AC571E;

	float:left;

}

#checkButton{

	color: white;

	text-align: center;

	float:left;

	height:30px;
	width: 150px;
	background-color:#AC571E;

	margin-left: 120px;
	margin-top: 100px;

	padding-top: 10px
}

@-webkit-keyframes hvr-pulse-shrink {
  to {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes hvr-pulse-shrink {
  to {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.hvr-pulse-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-pulse-shrink:hover, .hvr-pulse-shrink:focus, .hvr-pulse-shrink:active {
  -webkit-animation-name: hvr-pulse-shrink;
  animation-name: hvr-pulse-shrink;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

a:visited{
	color:white;
}


#status{

	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;

	padding-top: 1px;
	padding-left: 10px;
	height: 500px;
	width: 700px;
	background-color: black;

	color: #00ff00;

	font-family: Courier;

}
